# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
*.venv
*.env

# Django-specific
db.sqlite3
*.log
media/
staticfiles/

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# System-specific files
.DS_Store
Thumbs.db

# Python dependency files
Pipfile
Pipfile.lock

# Docker & Deployment files
docker-compose.override.yml
.envrc

# Testing & Coverage
.coverage
htmlcov/
nosetests.xml
test-results/

# Jupyter Notebooks (if used)
.ipynb_checkpoints/

# Gunicorn logs (if using Gunicorn)
gunicorn.log
gunicorn.error.log

# Celery & background tasks
celerybeat-schedule
celerybeat.pid

**/service_account_key.json